Give me the driver code based on the following:
Input Format:
{{input}}
Output Format:
{{output}}
Solution Code:
{{solution}}
Language:
C++ (g++ 7.3.0)

Based on the above give me a driver code which can direclty be used on the platform. Driver code means code containing only a "main" function that will be compiled into an executable you can run. The main function calls a function which has the parameters equal to the input format and the return should be in a format which when printed using the print statements in the main function should give the oiutput in the defined valid output format. 
The function doesnot contain any code, the user has to write the logic inside the function.