Convert the above code {{code}} and store them as a JSON with the key as the language name and the value as the slug, hr_code and code for thefollowing lanaguages:
{{languages}}
In case of Java, the class should be named as class Main.
Take rerence from the following for the language name, slug and the hr_code to be used inthe JSON response:
Language name slug hr_code
Oracle	oracle	11,
Haskell	haskell	12,
Bash	bash	14,
Erlang	erlang	16,
Lua	lua	18,
Go	go	21,
D	d	22,
Ocaml	ocaml	23,
R	r	24,
Pascal	pascal	25,
Sbcl	sbcl	26,
Python 3	python	30,
Groovy	groovy	31,
Objective-C	objectivec	32,
F#	fsharp	33,
COBOL	cobol	36,
Visualbasic	visualbasic	37,
Lolcode	lolcode	38,
Smalltalk	smalltalk	39,
Tcl	tcl	40,
Whitespace	whitespace	41,
Tsql	tsql	42,
Db2	db2	44,
Octave	octave	46,
Xquery	xquery	48,
Racket	racket	49,
Rust	rust	50,
Fortran	fortran	54,
SQL	sql	57,
Shell	shell	56,
Swift	swift	51,
MySQL	mysql	10,
C (gcc 7.3.0)	c	1,
JavaScript	javascript	64,
C++ (g++ 7.3.0)	cpp	2,
Python 2 (2.7.6)	python	5,
Perl (5.18.2)	perl	6,
Scala	scala	15,
PHP (7.0.30)	php	7,
Ruby (2.1.1)	ruby	8,
C# (mcs 5.4.0.201)	csharp	9,
Clojure (1.4.0)	clojure	13,
Java (openjdk 1.7.0_91)	java	3,
Java 8 (oracle 1.8.0_91)	java	43